# NUNCA COMMITAR ESTE ARQUIVO (npm run setup copia para .env)
APP_ENV=dev
VENDURE_SERVER_PORT=3000
COOKIE_SECRET=segredo-de-mentira-troque-em-producao
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin
CORS_ORIGINS=
PAGAMENTO_API_KEY=sk_live_FAKE_1234567890_NAO_E_REAL
